.Space {
    width: 250px;
}

.ShiftLeft {
    width: 80px;
}
.ShiftRight {
    width: 80px;
}

.ControlLeft {
    width: 93px;
}
.ControlRight {
    width: 93px;
}

.Alt {
    width: 80px;
}

.ArrowLeft {
    margin-left: 118px;
}

.ArrowUp {
    margin: 0 13px 0 13px;
}

