body {
    width: auto;
}

body>div {
    display: flex;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}

.wrapper {
    margin: auto;
    width: 945px;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 20px;
    background-color: bisque;
    flex-wrap: wrap;
    gap: 8px;
}



.button {
    display: flex;
    text-align: center;
    background-color: aqua;
    width: 60px;
    height: 35px;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0 5px #999;
}



.active {
    background-color: blueviolet;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

textarea {
    font-size: 20px;
    margin: auto;
    width: 600px;
    height: 150px;
}


.button:hover {
    cursor: pointer;
    background-color: rgb(170, 124, 188);
}


.button:active {
    background-color: blueviolet;

}

.shortcut {
    font-size: 30px;
    margin: auto;

    background-color: aquamarine;
    width: 105px;
}